tests
old_data/
data*/
.python-version
.my_keys
.vscode/
TODO.txt
__pycache__
.storm_tracking.txt
yolo

# Default data directory
data

# prevent terrible mistakes
auth.json

# driver logs
geckodriver.log
ghostdriver.log

#debugging files
page

# large files user should install
geckodriver*
phantomjs*
InstagramCrawler/phantom*
