[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tweepy = "*"
bs4 = "*"
selenium = "*"
numpy = "*"
opencv-python = "*"
pandas = "*"
nltk = "*"
sklearn = "*"
urllib3 = "*"

[requires]
python_version = "3.7"
